# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/Editor specific files
.vscode/
.idea/
*.suo
*.ntvs*

# Environment-specific files
.env

# Compiled files
*.pyc
*.class

# Dependency directories
venv/
env/
bin/
lib/
node_modules/

# Miscellaneous
.DS_Store
*.log
